source http://nuget.org/api/v2
framework: netstandard2.0, netcoreapp2.0
#generate_load_scripts: true
redirects: force

nuget Microsoft.Azure.ServiceBus
nuget Microsoft.NET.Test.Sdk
nuget Newtonsoft.Json
nuget NUnit
nuget NUnit3TestAdapter
nuget Unquote

group Build
source http://nuget.org/api/v2
#generate_load_scripts: true

nuget SourceLink.Fake
nuget FSharp.Formatting
nuget FAKE